
body, html {   

    margin: 0;
    padding: 0;
    font-family: Ubuntu-Regular, sans-serif;
}

body {
  	  background: #2c2c2c;



}


h2{
	margin-left: 30px;
	margin-bottom: 50px;
	color:black;
	text-align: center;
	background: #e67811;
	padding: 10px;
	border-top-left-radius: 30px;
	border-top-right-radius: 30px;

}

form{ 

  padding-top: 450px;
  padding-left: 200px;
  position: fixed;
  top: 25%;
  left:50%;
  margin-top: -50px;
  margin-left: -100px;
  transform: translate(-50%, -50%);


}

::placeholder{color: #1c38176e;font-weight: bold;}
input{
	font-size: 16px;
	height: 50px;
	width: 400px;
	margin-left: 35px;
	padding-left: 20px;
	background: #ebebeb;
	border-radius: 30px;
	border: none;
	outline:0;
	color: #000000;
	font-weight: bold;
}

input:focus{
width: calc(100% + 20px);

}

button{
	background: #e67811;
	width: 420px;
	height: 50px;
	margin-left: 35px;
	border-radius: 30px;
	font-size: 16px;
	color: rgb(0, 0, 0);
	font-weight: bold;
	border: none;
	cursor: pointer;
	}

button:hover{
	background: #3256a3;
}

p {
	text-align: center;
	margin-left: 35px;
	width: 400px;
	height: 50px;
}


a{text-decoration: none;}
span small{color:#e67811;font-weight: bold;}
span small:hover{color:#3256a3;}


