@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;800&display=swap');

input[type=text], select {
    width:50%;
    padding: 17px 20px;
    margin: 8px 0;
    display: grid;
    border: 1px solid #ccc;
    box-sizing: border-box;
    margin-left: 12em;
  }
  input[type=email], select {
    width:50%;
    padding: 17px 20px;
    margin: 8px 0;
    display: grid;
    border: 1px solid #ccc;
    box-sizing: border-box;
    margin-left: 12em;
  }
  input[type=password], select {
    width:50%;
    padding: 17px 20px;
    margin: 8px 0;
    display: grid;
    border: 1px solid #ccc;
    box-sizing: border-box;
    margin-left: 12em;
  }
  div {
    padding: 20px;
    width: 50%;
    position: absolute;
    left: 0em;
    background-color: white;
    height: 70%;
    bottom: 0em;
  }

body{
    background-color:rgb(40, 2, 77);
    color: white;
    font-family: 'Roboto Slab', serif;
  }

.loginbar{
    position: absolute;
    top: 0em;
}

h1{
    position: absolute;
    top: 2em;
    color: rgb(66, 61, 61);
    left: 9.5em;
}

input[type=text]{
background: transparent;
border: none;
border-bottom: 1px solid #000000;
border-radius: 0px;
}
input[type=email]{
  background: transparent;
  border: none;
  border-bottom: 1px solid #000000;
  border-radius: 0px;
  }
  input[type=password]{
    background: transparent;
    border: none;
    border-bottom: 1px solid #000000;
    border-radius: 0px;
    width:50%;
    padding: 17px 20px;
    margin: 8px 0;
    display: grid;
    box-sizing: border-box;
    margin-left: 12em;
    }

.signbutton{
    text-decoration: none;
    color: white;
    position:fixed;
    left:20em;
    bottom:9em;
    font-size: 1rem;
    font-weight: bold;
    background-color: purple;
    border-radius: 30px;
    padding: 10px 20px;
  }

  .signbutton:hover {
    background-color: gray;
  }
  .logbutton{
    position:absolute;
    bottom: 3em;
    left:26.78em;
    text-decoration: none;

  }
  .logbutton:hover{
    font-weight: bold;
}
p{
  color: rgb(66, 61, 61);
  position:absolute;
  bottom: 2em;
  left: 14em;
}
img{
    position: absolute;
    right: 3em;
    border-radius: 20%;
    top:4em;
    width: 40%;
    
    }
    select{
      border: none;
      color: rgb(66, 61, 61);
    }